<!-- made by David Aleixo @ KBZ david.aleixo@knowledgebiz.pt -->

<div class="row justify-content-md-center h-100 mt-5">
	<div class="card-wrapper">
		<div class="brand">
			<img src="img/logo.jpg" alt="bootstrap 4 login page">
		</div>
		<div class="card fat">
			<div class="card-body">
				<h4 class="card-title">Register</h4>
				<form method="POST" class="my-login-validation" novalidate="">
					<div class="form-group">
						<label for="name">Name</label>
						<input id="name" type="text" class="form-control" name="name" required="" autofocus="">
						<div class="invalid-feedback">
							What's your name?
						</div>
					</div>

					<div class="form-group">
						<label for="email">E-Mail Address</label>
						<input id="email" type="email" class="form-control" name="email" required="">
						<div class="invalid-feedback">
							Your email is invalid
						</div>
					</div>

					<div class="form-group">
						<label for="password">Password</label>
						<div style="position:relative" id="eye-password-0"><input id="password" type="password" class="form-control" name="password" required="" data-eye="" style="padding-right: 60px;"><div class="invalid-feedback">
							Password is required
						</div><input type="hidden" id="passeye-0"><div class="btn btn-primary btn-sm" id="passeye-toggle-0" style="position: absolute; right: 10px; top: 7px; padding: 2px 7px; font-size: 12px; cursor: pointer;">Show</div></div>
						<div class="invalid-feedback">
							Password is required
						</div>
					</div>

					<div class="form-group">
						<div class="custom-checkbox custom-control">
							<input type="checkbox" name="agree" id="agree" class="custom-control-input" required="">
							<label for="agree" class="custom-control-label">I agree to the <a href="#">Terms and Conditions</a></label>
							<div class="invalid-feedback">
								You must agree with our Terms and Conditions
							</div>
						</div>
					</div>

					<div class="form-group m-0">
						<button type="submit" class="btn btn-primary btn-block">
							Register
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>