<!-- made by Thrinisha Mohandas @ KBZ thrinisha.mohandas@knowledgebiz.pt -->

<div class="container" style="padding-top: 65px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="projects">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="projects/{{projectId}}">{{projectName}}</a>
            </li>
            <li class="breadcrumb-item">History</li>
        </ol>
    </nav>
    <div class="alert alert-success" ng-if="show">
        <strong>Success!</strong> Slumptest Value is Lower then Threshold Value
    </div>
    <div class="alert alert-danger" ng-if="showError">
        <strong>Danger!</strong> Slumptest Value is Higher or Equal then Threshold Value
    </div>
    <h2 class="my-4">List of SlumpTests</h2>
    <div class="pull-left">
        <i class="fa fa-history fa-3x" ng-if="tableContent" data-toggle="modal" data-target="#results"></i>
    </div>
    <div class="pull-right">
        <button class="btn btn-primary center-block" type="button" data-toggle="modal" data-target="#slumpTestModal">New</button>
    </div>
    <div class="alert alert-warning" ng-if="!tableContent">
        <strong>Warning!</strong> There is no Record of Slumptests on this Project: {{projectName}}
    </div>
    <br>
    <center>
        <div id="piechart"></div>
    </center>
</div>

<!--MODAL-->
<div class="modal fade center" id="results" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>History</h2>
            </div>
            <div class="modal-body">
                <table class="table table-striped custab">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Value</th>
                            <th>Date</th>
                        </tr>
                        <tr ng-repeat="s in values">
                            <td>{{ $index + 1 }}</td>
                            <td>{{ s.value }}</td>
                            <td>{{ s.date }}</td>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--END MODAL-->

<!--MODAL-->
<div class="modal fade center" id="slumpTestModal" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>New Slump test</h2>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" ng-if="!showEquipment">
                    <strong>Error!</strong> There is no Equipments!!
                </div>
                <div class="input-group mb-3" ng-if="showEquipment">
                    <div class="input-group-prepend">
                        <span class="input-group-text" ng-model="newST.value" id="measurement">Measurement</span>
                    </div>
                    <input type="number" min="0" class="form-control" ng-model="newST.value" placeholder="0" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3" ng-if="showEquipment">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Equipment used</label>
                    </div>
                    <select class="custom-select" ng-change="checkExistEquip()" ng-model="newST.equipment" id="inputGroupSelect01" ng-init="newST.equipment='Choose...'">
                        <option selected>Choose...</option>
                        <option ng-repeat="equip in equipments" value="{{equip.idequipments}}">{{equip.name}}</option>
                    </select>
                </div>
                <div ng-if="showEquipment" ng-if="showSelectEquipment">
                    <p class="text-danger">There is no Select Equipment </p>
                </div>
            </div>
            <div class="modal-footer">
                <button ng-if="!showSelectEquipment" ng-click="createST()" data-dismiss="modal" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--END MODAL-->