<!-- made by David Aleixo @ KBZ david.aleixo@knowledgebiz.pt -->


<!-- end daleixo navbar -->
<header class="masthead text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-5">Identifying Steel Type before using it. Simple procedure, simple collaboration!</h1>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <form>
          <div class="form-row">
            <div class="col-12 col-md-9 mb-2 mb-md-0">
              <!--input type="email" class="form-control form-control-lg" placeholder="Enter your email..."-->
            </div>
            <!-- <div class="col-12 col-md-3">
              <button type="submit" class="btn btn-block btn-lg btn-vfos">Do it now!</button>
            </div> -->
          </div>
        </form>
      </div>
    </div>
  </div>
</header>
<!-- daleixo landing head -->

<!-- daleixo grid -->
<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters">

      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('assets/img/show1.jpg');"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Easy to use</h2>
        <p class="lead mb-0">Simple graphical user interface to potentiate the slump test results!</p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 text-white showcase-img" style="background-image: url('assets/img/show2.jpg');"></div>
      <div class="col-lg-6 my-auto showcase-text">
        <h2>Collaboration is the key</h2>
        <p class="lead mb-0">Inform your concrete provider every time his delivered fresh concrete quality is not matching the requirements. Help yourself to reduce time and costs!</p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('assets/img/show3.png');"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Shared results</h2>
        <p class="lead mb-0">Easy access to historical fresh concrete by provider!</p>
      </div>
    </div>
  </div>
</section>
<!-- end daleixo grid -->



