<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <base href="/steelvalidation/">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1" />
  <title>Steel Validation</title>
  <!-- CSS Files -->
  <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- daleixo Custom styles for this template -->
  <link href="css/cfb.css" rel="stylesheet">

  <!-- Personal JavaScript Files -->
  <script type="text/javascript" src="libs/angular/angular.min.js"></script>
  <script type="text/javascript" src="libs/angular-route/angular-route.min.js"></script>
  <script type="text/javascript" src="libs/angular-bootstrap/ui-bootstrap.min.js"></script>
  <script type="text/javascript" src="libs/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script type="text/javascript" src="libs/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- Google Chart -->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <!-- Controllers -->
  <script type="text/javascript" src="js/routes.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
  <script type="text/javascript" src="js/Controllers/steeltestCtrl.js"></script>
  <script type="text/javascript" src="js/Controllers/steeltestReportCtrl.js"></script>
  <script type="text/javascript" src="js/Controllers/projectCtrl.js"></script>
  <script type="text/javascript" src="js/Controllers/projectDetailCtrl.js"></script>
  <script type="text/javascript" src="js/Controllers/settingProjectCtrl.js"></script>
  <script type="text/javascript" src="js/Controllers/historyCtrl.js"></script>
  <script type="text/javascript" src="js/Controllers/otherSettingsCtrl.js"></script>
  <!-- daleixo Controllers -->
  <script type="text/javascript" src="js/Controllers/landingPageCtrl.js"></script>
  <script type="text/javascript" src="js/Controllers/registrationCtrl.js"></script>
  <script type="text/javascript" src="js/Controllers/mainCtrl.js"></script>
  <script type="text/javascript" src="js/Controllers/notificationCtrl.js"></script>
  <!-- Services -->
  <script type="text/javascript" src="js/Services/authService.js"></script>
  <script type="text/javascript" src="js/Services/projectService.js"></script>
  <script type="text/javascript" src="js/Services/notificationService.js"></script>
  <script type="text/javascript" src="js/Services/equipmentsService.js"></script>
  <script type="text/javascript" src="js/Services/accountService.js"></script>
  <script type="text/javascript" src="js/Services/roleService.js"></script>
  <script type="text/javascript" src="js/Services/userService.js"></script>
  <script type="text/javascript" src="js/Services/slumptestService.js"></script>
  <script type="text/javascript" src="js/Services/tagService.js"></script>
  <script type="text/javascript" src="js/Services/tagHistoryService.js"></script>
</head>


<body ng-app="mainApp" ng-controller="mainCtrl">


  <!-- daleixo navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Steel Identification</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

          <li class="nav-item dropdown" ng-if="user">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{user.username}}
              <span ng-if="user.notifications.length > 0" class="btn btn-danger badge badge-danger">{{user.notifications.length}}</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#" ng-click="logout()">Sign out</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="projects">Projects</a>
              <!--<a class="dropdown-item" href="/notifications">Notifications <span ng-if="user.notifications.length >0" class="btn btn-danger badge badge-danger">{{user.notifications.length}}</span></a>-->
              <div class="dropdown-divider"></div>
              <a class="dropdown-item disabled">Accounts Settings</a>
            </div>
          </li>
          <li class="nav-item" ng-if="!user">
            <a class="nav-link" href="#loginModal" data-toggle="modal">Sign In</a>
          </li>
          <li class="nav-item" ng-if="!user">
            <a class="nav-link" href="registration">New User</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- DYNAMIC CONTENT FROM ANGULAR CONTROLLERS -->
  <div ng-view></div>

  <!-- daleixo footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="#">About</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Contact</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; Copyright 2018 - Produced by Knowledgebiz @ vf-OS EU Project</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="http://www.vf-os.eu">
                <img src="assets/img/vf-OS_logo_01.png" style="max-height:40px">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!-- end daleixo footer -->

  <div id="loginModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Login</h3>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="alert alert-success" ng-if="show">
            <strong>Success!</strong> {{msg}}
        </div>
        <div class="alert alert-danger" ng-if="showError">
            <strong>Danger!</strong> {{msg}}
        </div>
        <div class="modal-body">
          <form class="form" role="form" autocomplete="off" id="formLogin" novalidate="" method="POST">
            <div class="form-group">
              <label for="uname1">Username</label>
              <input ng-model="credentials.username" type="email" class="form-control form-control-lg" name="uname1" id="uname1" required="">
              <div class="invalid-feedback">Oops, you missed this one.</div>
            </div>
            <div class="form-group">
              <label>Password</label>
              <input ng-model="credentials.password" type="password" class="form-control form-control-lg" id="pwd1" required="" autocomplete="new-password">
              <div class="invalid-feedback">Enter your password too!</div>
            </div>
            <div class="form-group py-4">
              <button class="btn btn-outline-vfos btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
              <button ng-click="login()" class="btn btn-vfos btn float-right" id="btnLogin">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>