<!-- made by David Aleixo @ KBZ david.aleixo@knowledgebiz.pt -->

<div id="loginModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3>Login</h3>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			</div>
			<div class="modal-body">

			</div>
		</div>
	</div>
</div>
<div class="panel panel-login">
	<div class="panel-heading">
		<div class="row">
			<div class="col-xs-6">
				<a href="#" class="active" id="login-form-link">Login</a>
			</div>
			<div class="col-xs-6">
				<a href="#" id="register-form-link">Register</a>
			</div>
		</div>
		<hr>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-lg-12">
				<form id="login-form" action="https://phpoll.com/login/process" method="post" role="form" style="display: block;">
					<div class="form-group">
						<input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
					</div>
					<div class="form-group">
						<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
					</div>
					<div class="form-group text-center">
						<input type="checkbox" tabindex="3" class="" name="remember" id="remember">
						<label for="remember"> Remember Me</label>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-sm-6 col-sm-offset-3">
								<input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-lg-12">
								<div class="text-center">
									<a href="#" tabindex="5" class="forgot-password">Forgot Password?</a>
								</div>
							</div>
						</div>
					</div>
				</form>
				<form id="register-form" action="https://phpoll.com/register/process" method="post" role="form" style="display: none;">
					<div class="form-group">
						<input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
					</div>
					<div class="form-group">
						<input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="">
					</div>
					<div class="form-group">
						<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
					</div>
					<div class="form-group">
						<input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password">
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-sm-6 col-sm-offset-3">
								<input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>