<!-- made by David Aleixo @ KBZ david.aleixo@knowledgebiz.pt -->

<div class="container" style="padding-top: 65px;">
  <h1 class="my-4">Notifications
  </h1>
  <table class="table table-striped custab">
    <thead>
      <tr>
        <th>Project Ref</th>
        <th>Slumptest Ref</th>
        <th>Slumptest Date</th>
        <th>Mark as read</th>
      </tr>
      <tr ng-repeat="notification in user.notifications" ng-class="notification.style">
        <div class="list-group list-group-horizontal" >
          <td><a href="/projects/{{notification.projectid}}">{{ notification.projectname }}</a></td>
          <td>{{ notification.idslumptests }}</td>
          <td>{{ notification.date }}</td>
          <td>
            <button ng-show="notification.read=='f'" ng-click="markasread(notification.idnotification)" class="btn btn-primary btn-sm">
             <i class="fa fa-square"></i></button>
             <button ng-show="notification.read=='t'" ng-click="markasunread(notification.idnotification)" class="btn btn-primary btn-sm">
               <i class="fa fa-check-square"></i></button>
             </td>
           </div>
         </tr>
       </thead>
     </table>
     <div class="container mb-5">
      <div class="col">
      </div>
      <div class="col">
        <button ng-show="changes>0" ng-click="savechanges()" class="w-100 btn btn-primary btn-sm">
          <i class="fa fa-save"></i> Save</button>
        </div>
        <div class="col"></div>
      </div>
    </div>