<!-- made by Miguel Rodrigues @ KBZ miguel.rodrigues@knowledgebiz.pt -->

<!------ Include the above in your HEAD tag ---------->
<div class="container" style="padding-top: 65px;">
  <div class="alert alert-success" ng-if="show">
    <strong>Success!</strong> {{msg}}
  </div>
  <div class="alert alert-danger" ng-if="showError">
    <strong>Danger!</strong> {{msg}}
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="projects">Home</a>
      </li>
      <li class="breadcrumb-item">Settings</li>
    </ol>
  </nav>
  <div class="card mb-1">
    <div class="card-header">
      Account Settings
    </div>
    <div class="card-body">
      <a class="card-link" href="#accountname" data-target="#accountname" data-toggle="modal">Change the Email</a>
      <a class="card-link" href="#accountpassword" data-target="#accountpassword" data-toggle="modal">Change the Password</a>
    </div>
  </div>
  <div class="card mb-1" ng-if="user.role==2">
    <div class="card-header">
      Accounts
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="a in accounts">
            <td>{{a.eachAccount.username}}</td>
            <td ng-if="a.eachAccount.idroles==1">
              <span class="badge badge-info">Contractor</span>
            </td>
            <td ng-if="a.eachAccount.idroles==2">
              <span class="badge badge-success">Admin</span>
            </td>
            <td ng-if="a.eachAccount.idroles==3">
              <span class="badge badge-warning">Provider</span>
            </td>
            <td>
              <button class="btn btn-warning btn-sm" ng-click="idCheck(a.eachAccount.idaccounts)" data-target="#accounts" data-toggle="modal">
                <i class="fa fa-pencil-square-o"></i>
              </button>
              <button class="btn btn-danger btn-sm" ng-click="idCheck(a.eachAccount.idaccounts)" data-target="#deleteaccount" data-toggle="modal">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- edit the admin email modal -->
<div id="accountname" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Set your Email</h3>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Email</span>
          </div>
          <input type="email" class="form-control" ng-model="newAccountEmail" placeholder="Account Email" aria-label="Email">
        </div>

      </div>
      <div class="modal-footer">
        <button ng-click="accountNameSave()" data-dismiss="modal" class="btn btn-vfos">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- edit the admin password modal -->
<div id="accountpassword" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Set your Password</h3>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Password</span>
          </div>
          <input type="password" class="form-control" ng-model="newAccountPassword" placeholder="Account Password" aria-label="Password">
        </div>

      </div>
      <div class="modal-footer">
        <button ng-click="accountPasswordSave()" data-dismiss="modal" class="btn btn-vfos">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- edit the accounts modal -->
<div id="accounts" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Set Email or Role</h3>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Email</span>
          </div>
          <input type="email" class="form-control" ng-model="newAccountsEmail" placeholder="New Account Email" aria-label="Email">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Role</span>
          </div>
          <select ng-model="newAccountsRole" ng-options="x.accounttype for x in roles" class="input-xlarge" ng-init="newAccountsRole.idroles='0'"></select>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Password</span>
          </div>
          <input type="password" class="form-control" ng-model="newAccountsPassword" placeholder="New Account Password" aria-label="Password">
        </div>
      </div>
      <div class="modal-footer">
        <button ng-click="editAccount(a.eachAccount.username)" data-dismiss="modal" class="btn btn-vfos">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- delete the account modal -->
<div id="deleteaccount" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Delete Account</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            Are You Sure?
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button  ng-click="deleteAccount(a.eachAccount.idaccounts)"  data-dismiss="modal" class="btn btn-vfos">Yes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>