

<!------ Include the above in your HEAD tag ---------->
<div class="container" style="padding-top: 65px;">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="projects">Home</a>
            </li>
            <li class="breadcrumb-item">{{projectName}}</li>
        </ol>
    </nav>
    <div class="alert alert-success" ng-if="show">
        <strong>Success!</strong> Slumptest Value is Lower than Threshold Value
    </div>
    <div class="alert alert-danger" ng-if="showError">
        <strong>Danger!</strong> Notification Alert Sent: Slumptest Value is Higher or Equal than Threshold Value
    </div>
    <div class="alert alert-danger" ng-if="showNotification">
        <strong>Danger!</strong> Slumptest Value is Higher or Equal than Threshold Value but Notification cannot be sent
    </div>
    <center>
        <!--
        <div class="card mb-5 " style="width: 35rem;">
            <img class="card-img-top" src="/assets/img/slumptest.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Slump test</h5>
                <p class="card-text">The concrete slump test measures the consistency of fresh concrete content.</p>
                <button ng-if="user.role==1||user.role==2" data-toggle="modal" data-target="#slumpTestModal" class="btn btn-primary center-block">New</button>
                <a ng-if="user.role==2" class="btn btn-primary center-block" href="/projects/{{projectId}}/history">History</a>
            </div>
        </div>
        End Slump card-->
        <!--Steel card-->
        <div class="card mb-5 " style="width: 35rem;">
            <!-- <img class="card-img-top" src="assets/img/notdetected.jpg" alt="Card image cap"> -->
            <div class="card-body">
                <h5 class="card-title">Steel Identification</h5>
                <p class="card-text">Steel Identification test recognises the type of steel rods.</p>
                <a ng-if="user.role==1||user.role==2" class="btn btn-primary center-block" href="projects/{{projectId}}/steeltest">SteelTest</a>
                <a ng-if="user.role==1||user.role==2" class="btn btn-primary center-block" href="projects/{{projectId}}/report">Report</a>
            </div>
        </div>
        <!--End Steel card-->
		
    </center>
    <!--MODAL-->
    <!-- <div class="modal fade center" id="slumpTestModal" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>New Slump test</h2>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3" ng-if="showEquipment">
                        <div class="input-group-prepend">
                            <span class="input-group-text" ng-model="newST.value" id="measurement">Measurement</span>
                        </div>
                        <input type="number" min="0" class="form-control" ng-model="newST.value" placeholder="0" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3" ng-if="showEquipment">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Equipment used</label>
                        </div>
                        <select class="custom-select" ng-change="checkExistEquip()" ng-model="newST.equipment" id="inputGroupSelect01" ng-init="newST.equipment='Choose...'">
                            <option selected>Choose...</option>
                            <option ng-repeat="equip in equipments" value="{{equip.idequipments}}">{{equip.name}}</option>
                        </select>
                    </div>
                    <div ng-if="showEquipment" ng-if="showSelectEquipment">
                        <p class="text-danger">There is no Select Equipment </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button ng-if="!showSelectEquipment" ng-click="createST()" data-dismiss="modal" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div> -->
    <!--End MODAL-->
</div>