<!-- made by Maryam Berenji @ KBZ maryamberenji@yahoo.com -->

<!------ Include the above in your HEAD tag ---------->
<div class="container" style="padding-top: 65px;">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="projects">Home</a></li>
    </ol>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h1 class="my-4">Projects
          <small>list</small>
        </h1>
      </div>
      <div class="col-sm">
      </div>
      <div class="col-sm col-md-auto justify-content-md-center">
        <button ng-if="user.role==2" href="#newProjectModal" data-toggle="modal" class="btn btn-vfos">New</button>
      </div>
    </div>
  </div>
  <div ng-if="loadingprojects">
    <img src="assets/img/loading.gif" style="display:block;
      margin:auto;">
  </div>
  <table class="table table-striped custab" ng-if="!loadingprojects">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th ng-if="user.role==2">Options</th>
      </tr>
      <tr ng-repeat="proj in projectsList | filter: activeprojects">
        <div class="list-group list-group-horizontal">

          <td><a href="projects/{{proj.idprojects}}">{{ proj.name }}</a></td>
          <td ng-if="proj.status"><span class="badge badge-success">ongoing</span> {{ proj.description}}</td>
          <td ng-if="!proj.status"><span class="badge badge-danger">stopped</span> {{ proj.description}}</td>
          <td ng-if="user.role==2">
            <a href="project/configuration/{{proj.idprojects}}" class="btn btn-primary btn-sm">
              <i class="fa fa-cog"></i> Settings</a>
          </td>
        </div>
      </tr>
    </thead>
  </table>
</div>
</div>

<!-- new project modal -->
<div id="newProjectModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Name</span>
          </div>
          <input type="text" ng-change="checkNameFormat()" class="form-control" ng-model="newProject.name"
            placeholder="Project name" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div ng-show="projectNameFormatTest">
          <p class="text-danger">Do Not use character:' In your text.</p>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Description</span>
          </div>
          <input type="text" ng-change="checkDesFormat()" class="form-control" ng-model="newProject.description"
            placeholder="Project description" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div ng-show="projectDescriptionFormatTest">
          <p class="text-danger">Do Not use character:' In your text.</p>
        </div>

      </div>
      <div class="modal-footer">
        <button ng-if="!projectDescriptionFormatTest&&!projectNameFormatTest" ng-click="createProject()"
          data-dismiss="modal" class="btn btn-vfos">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>