<!-- made by David Aleixo @ KBZ david.aleixo@knowledgebiz.pt -->

<div class="row justify-content-md-center h-100 mt-5 mb-5">
    <div class="card-wrapper">
        <div class="card fat">
            <div class="card-body">
                <h4 class="card-title">Register</h4>
                <div class="alert alert-success" ng-if="show">
                    <strong>Success!</strong> {{msg}}
                </div>
                <div class="alert alert-danger" ng-if="showError">
                    <strong>Danger!</strong> {{msg}}
                </div>
                <form method="POST" class="my-login-validation" novalidate="">
                    <div class="form-group">
                        <label for="email">E-Mail Address</label>
                        <input ng-model="username" id="email" type="email" class="form-control" name="email" required="">
                        <div class="invalid-feedback">
                            Your email is invalid
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <div style="position:relative" id="eye-password-0">
                            <input ng-model="password" id="password" type="password" class="form-control" name="password" required="" data-eye="" style="padding-right: 60px;">
                            <div class="invalid-feedback">
                                Password is required
                            </div>
                        </div>
                        <div class="invalid-feedback">
                            Password is required
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Confirm Password</label>
                        <div style="position:relative" id="eye-password-0">
                            <input ng-model="c_password" id="password" type="password" class="form-control" name="password" required="" data-eye="" style="padding-right: 60px;"><div class="invalid-feedback">
                                Password is required
                            </div>
                        </div>
                        <div class="invalid-feedback">
                            Password is required
                        </div>
                    </div>
                    <div class="form-group m-0">
                        <button ng-click="register()" class="btn btn-primary btn-block">
                            Register
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>