<!-- made by David Aleixo @ KBZ david.aleixo@knowledgebiz.pt -->

<!------ Include the above in your HEAD tag ---------->
<div class="container" style="padding-top: 65px;">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="projects">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a href="projects/{{projectId}}">{{projectName}} </a>
      </li>
      <li class="breadcrumb-item">Settings</li>
    </ol>
  </nav>
  <div class="card mb-1">
    <div class="card-header">
      General Settings
    </div>
    <div class="card-body">
      <p ng-if="projectStatus" class="card-text">This project is
        <span class="badge badge-success">ongoing</span>
      </p>
      <p ng-if="!projectStatus" class="card-text">This project is
        <span class="badge badge-danger">stopped</span>
      </p>

      <!-- <p class="card-text">This Threshold value is set for {{threshold}}</p> -->
      <p class="card-text">This Description is {{description}}</p>
      <a class="card-link" href="#projectname" data-target="#projectname" data-toggle="modal">Change the Name</a>
      <a class="card-link" href="#projectdescription" data-target="#projectdescription" data-toggle="modal">Change the
        Description</a>
      <a class="card-link" ng-if="projectStatus" href="#" ng-click="desactivate()">Desactivate</a>
      <a class="card-link" ng-if="!projectStatus" href="#" ng-click="activate()">Activate</a>
      <!-- <a class="card-link" href="#projectthreshold" data-target="#projectthreshold" data-toggle="modal">Set the
        Threshold</a> -->
      <a class="card-link" href="#deleteproject" data-target="#deleteproject" data-toggle="modal">Delete Project</a>
    </div>
  </div>
  <!-- <div class="card mb-1">
    <div class="card-header">
      Equipments
    </div>
    <div class="card-body">
      <button class="btn btn-vfos" data-target="#addeq" data-toggle="modal">
        <i class="fa fa-plus"></i> Add</button>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="eq in equipments">
            <td>{{eq.name}}</td>
            <td>
              <button class="btn btn-danger btn-sm" ng-click="deleteEq(eq.idequipments)">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div> -->
  <div class="card mb-3">
    <div class="card-header">
      Bar Samples
    </div>
    <div class="card-body">
      <button class="btn btn-vfos" data-target="#addtag" data-toggle="modal">
        <i class="fa fa-plus"></i> Add</button>
        <div ng-if="loadingbars">
          <img src="assets/img/loading.gif" style="display:block;
          margin:auto;">
        </div>
        <table class="table" ng-if="!loadingbars">
        <thead>
          <tr>
            <th scope="col">Type</th>
            <th scope="col">ID Tag</th>
            <!--<th scope="col">Transport Doc</th>-->
            <th scope="col">Markings</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="tag in ProjectTags">
            <td>{{tag.type}}</td>
            <td>
              <!--<button class="btn btn-sm btn-vfos" >-->
              <img ng-show="tag.photo" ng-src="{{tag.photo}}" width="120" />
              <!--</button>-->
            </td>
            <!--
              <td>
                <img ng-show="tag.phototransport" ng-src="{{tag.phototransport}}" width="120" />
              </td>
              -->
            <td>
              <!--<button class="btn btn-sm btn-warning" >-->
              <img ng-show="tag.photomarkings" ng-src="{{tag.photomarkings}}" width="120" />
              <!--</button>-->
            </td>
            <td>
              <button class="btn btn-danger btn-sm" ng-click="deleteTag(tag.type)">
                <i class="fa fa-trash"></i>
              </button>
            </td>
            <td ng-if="user.idroles==1">
              <button class="btn btn-warning btn-sm" ng-click="idCheck(user.idaccounts, user.username)"
                data-target="#editRoles" data-toggle="modal">
                <i class="fa fa-pencil-square-o"></i>
              </button>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
  <div class="card mb-5">
    <div class="card-header">
      Users
    </div>
    <div class="card-body">
      <button class="btn btn-vfos" data-target="#adduser" data-toggle="modal">
        <i class="fa fa-plus"></i> Add</button>
      <div ng-if="loadingusers">
          <img src="assets/img/loading.gif" style="display:block;
          margin:auto;">
      </div>
      <table class="table" ng-if="!loadingusers">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Role</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in myusers">
            <td>{{user.username}}</td>
            <td ng-if="user.idroles==1">
              <span class="badge badge-info">Contractor</span>
            </td>
            <td ng-if="user.idroles==2">
              <span class="badge badge-success">Admin</span>
            </td>
            <td ng-if="user.idroles==3">
              <span class="badge badge-warning">Provider</span>
            </td>
            <td>
              <button class="btn btn-danger btn-sm" ng-click="deleteUser(user.idaccounts)">
                <i class="fa fa-trash"></i>
              </button>
              <button class="btn btn-warning btn-sm" ng-click="idCheck(user.idaccounts, user.username)"
                data-target="#editRoles" data-toggle="modal">
                <i class="fa fa-pencil-square-o"></i>
              </button>

            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>

</div>

<!-- Edit the Name Project Modal -->
<div id="projectname" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h3>Set your project name</h3>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>

      <div class="modal-body">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Name</span>
          </div>
          <input type="text" ng-change="checkNameFormat()" class="form-control" ng-model="newProjectName"
            placeholder="Project name" />

        </div>
        <div ng-if="newProjectNameFormatTest">
          <p class="text-danger">Do Not use character:' In your text.</p>
        </div>
      </div>

      <div class="modal-footer">
        <button ng-if="!newProjectNameFormatTest" ng-click="projectnameSave()" data-dismiss="modal"
          class="btn btn-vfos">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!--End Modal-->

<!-- Edit the Description Project Modal -->

<div id="projectdescription" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Set your project description</h3>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Description</span>
          </div>
          <input type="text" ng-change="checkDesFormat()" class="form-control" ng-model="newProjectDescription"
            placeholder="Project description" aria-label="description">
        </div>
        <div ng-if="newProjectDescriptionFormatTest">
          <p class="text-danger">Do Not use character:' In your text.</p>
        </div>
      </div>
      <div class="modal-footer">
        <button ng-if="!newProjectDescriptionFormatTest" ng-click="projectdescriptionSave()" data-dismiss="modal"
          class="btn btn-vfos">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--End Modal-->

<!-- edit the Project threshold Modal -->
<div id="projectthreshold" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Set Threshold Value</h3>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Threshold</span>
          </div>
          <input type="number" min="0" class="form-control" ng-model="newthreshold">
        </div>

      </div>
      <div class="modal-footer">
        <button ng-click="projectthresholdSave()" data-dismiss="modal" class="btn btn-vfos">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--End Modal-->

<!-- delete the Project Modal -->
<div id="deleteproject" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Delete {{projectName}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            Are You Sure?
          </div>

        </div>

      </div>
      <div class="modal-footer">
        <button ng-click="delete()" data-dismiss="modal" class="btn btn-vfos">Yes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
<!--End Modal-->

<!-- New Equipment Modal -->
<div id="addeq" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Set Equipment</h3>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Name</span>
          </div>
          <input type="text" class="form-control" ng-change="checkEquipFormat()" ng-model="newEquipmentName"
            placeholder="Equipment name" aria-label="Username">
        </div>
        <div ng-if="projectEquipmentFormatTest">
          <p class="text-danger">Do Not use character:' In your text.</p>
        </div>
      </div>
      <div class="modal-footer">
        <button ng-if="!projectEquipmentFormatTest" ng-click="createEquipment(newEquipmentName)" data-dismiss="modal"
          class="btn btn-vfos">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--End Modal-->

<!--New user Modal -->
<div id="adduser" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Set User</h3>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <div class="form-group">
            <div class="input-group">
              <div class="controls">
                <label for="node-label" id="idAccount">Select user</label>
                <select ng-model="userName" ng-options="x.eachAccount.username for x in specialAccount"
                  class="input-xlarge"></select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button ng-click="addUser(userName)" data-dismiss="modal" class="btn btn-vfos">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--End Modal-->

<!--Add tag Modal -->
<div id="addtag" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Add Tag Photo</h3>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        
        <div class="input-group mb-3">
          <div class="form-group">
            <label for="node-label" id="tagType">Bar Type</label>
            <input ng-model="tagType" type="text" class="form-control" id="tagType" />



          </div>

          <table class="table">

            <tbody>
              <tr scope="col">
                <th>ID Tag</th>
                <td>
                  <div class="alert alert-danger" ng-show="hugeimageSrc">
                    <strong>This image is too large</strong>
                  </div>
                  <input type="file" ng-file-tag="onFileSelect(IDtag)" id="image">
                  <img ng-show="imageSrc" ng-src="{{imageSrc}}" style="width: 300px" />
                </td>
              </tr>
              <!--
              <tr scope="col">
                <th>Transport Doc</th>
                <td>
                  <input type="file" ng-file="onFileSelect(TransportDoc)" multiple id="imageTransport">
                  <img ng-show="imageSrcTransport" ng-src="{{imageSrcTransport}}" />
                </td>
              </tr>
              -->
              <tr scope="col">
                <th>Markings</th>
                <td>

                  <div class="alert alert-danger" ng-show="hugeimageSrcMarkings">
                    <strong>This image is too large</strong>
                  </div>
                  <input type="file" ng-file-marking="onFileSelect(Markings)" id="imageMarkings">

                  <img ng-show="imageSrcMarkings" ng-src="{{imageSrcMarkings}}" style="width: 300px" />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button ng-disabled="hugeimageSrc || hugeimageSrcMarkings" ng-click="insertTag(tagType)" data-dismiss="modal"
          class="btn btn-vfos">Upload Image</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--End Modal-->

<!--Edit account's role Modal -->
<div id="editRoles" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Select Role: {{newRole}}</h3>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Role</span>
          </div>
          <select ng-model="newAccountsRole" ng-options="x.accounttype for x in roles" class="input-xlarge"
            ng-init="newAccountsRole.idroles='0'"></select>
        </div>
      </div>
      <div class="modal-footer">
        <button ng-click="editAccount(user.idaccounts)" data-dismiss="modal" class="btn btn-vfos">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--End Modal-->