<!-- made by KBZ -->

<!------ Include the above in your HEAD tag ---------->
<div class="container" style="padding-top: 65px;">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="projects">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a href="projects/{{projectId}}">{{projectName}} </a>
      </li>
      <li class="breadcrumb-item">Steel Bar History</li>
    </ol>
  </nav>
  <div ng-controller = "steeltestReportCtrl">
  </br>
  <div class="card mb-3">
    <div class="card-header">
      Steel Bar Test History
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Detected Type</th>
            <th scope="col">Detection Status</th>
            <th scope="col">Approved</th>
            <th scope="col">Time</th>
            <th scope="col">Transport Document</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="tagReport in ProjectTagsHistory">
            <td>{{tagReport.detected}}</td>
            <td>{{tagReport.testok}}</td>
            <td>{{tagReport.approved}}</td>
            <td>{{tagReport.datetime}}</td>
            <td><button ng-click="setphoto(tagReport.phototransport)" href="#ShowTransportDoc" data-target="#ShowTransportDoc" data-toggle="modal" ng-show="{{tagReport.phototransport}}" class="btn btn-sm btn-vfos" ><img ng-src="{{tagReport.phototransport}}" width="120" /></button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<!-- Show Transport Document Modal -->
<div id="ShowTransportDoc" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">  
        <div class="modal-header">
          <h3>Transport Doc</h3>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
  
        <div class="modal-body">
          <div class="input-group mb-3">
                <img ng-src="{{TPhoto}}" width="300"/>
          </div>
        </div>  
      </div>
    </div>
  </div>
  <!--End Modal-->
  </div>
</div>
  