<div class="container" style="padding-top: 65px;">
    <div ng-controller="steeltestCtrl">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="projects">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="projects/{{projectId}}">{{projectName}} </a>
                </li>
                <li class="breadcrumb-item">Steel Test</li>
            </ol>
        </nav>

        <div class="alert alert-success" ng-if="showApprove">
            <strong>Success!</strong> Steel test has been Approved!
        </div>
        <div class="alert alert-danger" ng-if="showReject">
            <strong>Danger!</strong> Steel test has been Rejected!
        </div>
        <!-- <div class="alert alert-danger" ng-if="showNotification">
        <strong>Danger!</strong> Slumptest Value is Higher or Equal than Threshold Value but Notification cannot be sent
    </div> -->
        <center>
            <!--Steel card-->
            <div class="card mb-5 " style="width: 30rem;">
                <img class="card-img-top" ng-src={{imagepath}} ng-if="imagepath && !loadingimage" alt="Card image cap">
                <div class="card-body">
                    <div ng-if="loadingimage">
                        <img src="assets/img/loading.gif" style="display:block;
                            margin:auto;">
                    </div>
                    <h5 class="card-title">Steel Identification</h5>
                    <div class="alert alert-info" role="alert" ng-if="detectedType">
                            Detected type: {{detectedType}}
                    </div>
                    
                    <div class="alert alert-warning" role="alert" ng-if="ok == 'Not OK'">
                            {{typeshow}} has been detected
                    </div>
                    <div class="alert alert-success" role="alert" ng-if="ok == 'OK'">
                            {{typeshow}} has been detected
                    </div>
                    <input type="file" accept="image/*" id="file-input" name="file"
                        onchange="angular.element(this).scope().uploadFile(this.files)" />
                    <!--
                        <input type = "file" accept="image/*" id="file-input" />
                        <button ng-click = "uploadFile()">Upload File</button>
                        -->
                    <i ng-class="fa-{{iconname}}"></i>
                    <i class="far" [ngClass]="{{iconname}}"></i>
                    <i class="icon facebook"></i>
                    </br></br></br>
                    <table class="table">
                        <tbody ng-show="imageReady">
                            <tr scope="col">
                                <th>Test Results</th>
                                <td>
                                    <h5 class="card-text" ng-show="imageReady"> Sample {{ok}} </h5>
                                    <p class="card-text" ng-show="imageReady">{{oktext}}</p>
                                </td>
                            </tr>
                            <tr scope="col">
                                <th>Transport Doc</th>
                                <td>
                                    <input type="file" ng-file="onFileSelect(TransportDoc)" multiple
                                        id="imageTransport">
                                    <img ng-show="imageSrcTransport" ng-src="{{imageSrcTransport}}"
                                        style="width: 30rem;" />
                                </td>
                            </tr>
                            <tr scope="col">
                                <th>Decision</th>
                                <td>
                                    <button ng-show="imageReady" ng-click="Approve(true)"
                                        class="btn btn-vfos">Approve</button>
                                    <button ng-show="imageReady" ng-click="Approve(false)"
                                        class="btn btn-secondary">Reject</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--
                <div class="form-group">
                    <label for="node-label" id="tagType">Bar Tag</label>
                  <input type="file" ng-file="onFileSelect()" multiple>
                  <img ng-show="imageSrc" ng-src="{{imageSrc}}" id="image"/>
              </div>
              Live stream-->
            </div>
            <!--End Steel card-->
        </center>
        <!--MODAL-->
        <div class="modal fade center" id="slumpTestModal" role="dialog" aria-labelledby="modalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>New Slump test</h2>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger" ng-if="!showEquipment">
                            <strong>Error!</strong> There is no Equipments!!
                        </div>
                        <div class="input-group mb-3" ng-if="showEquipment">
                            <div class="input-group-prepend">
                                <span class="input-group-text" ng-model="newST.value"
                                    id="measurement">Measurement</span>
                            </div>
                            <input type="number" min="0" class="form-control" ng-model="newST.value" placeholder="0"
                                aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3" ng-if="showEquipment">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Equipment used</label>
                            </div>
                            <select class="custom-select" ng-change="checkExistEquip()" ng-model="newST.equipment"
                                id="inputGroupSelect01" ng-init="newST.equipment='Choose...'">
                                <option selected>Choose...</option>
                                <option ng-repeat="equip in equipments" value="{{equip.idequipments}}">{{equip.name}}
                                </option>
                            </select>
                        </div>
                        <div ng-if="showEquipment" ng-if="showSelectEquipment">
                            <p class="text-danger">There is no Select Equipment </p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button ng-if="!showSelectEquipment" ng-click="createST()" data-dismiss="modal"
                            class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!--End MODAL-->
    </div>

</div>